@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  
  #mainTitle {
    opacity: 0;
    font-size: 3em;
    letter-spacing: 0.05em;
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
  }
  
  #mainTitle span {
    display: inline-block;
    opacity: 0;
  }
  
  #mainTitle.bounce span {
    animation: bounce 0.6s ease infinite;
  }
  