
    .scrollimg{
        width:200px;
        height:200px;
    }
    .box{
        position: relative;
        margin: 100px auto;
        width:600px;
        height:100px;
        border: 2px solid black;
        box-shadow: 2px 5px 15px;
        overflow: hidden;
    }
li{
        float:left;
}

 @keyframes move{
        to{
            transform: translateX(-1400px);

        }
    }

.box ul{
        width:23000px;
        list-style: none;

        animation: move 10s linear infinite backwards;
    }
.box:hover ul{
        animation-play-state: paused;
    }